@font-face {
  font-family: "Didot";   /*Can be any text*/
  src: local("Didot"),
    url("./fonts/GFSDidot-Regular.ttf") format("truetype");
}

body {
  background-color: var(--black);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --white: white;
  --black: black;
  --lilac: #5A67AE;
  --red: #D2494C;
  --yellow: #F9D03C;
  --pea-shoot: #85C598;
  --highlight: #6e78ff;
  --app-height: 100%;
  
}

/* ======= COLORS ====== */ 

.bg--lilac {
  background-color: var(--lilac);
}

.bg--pea--shoot {
  background-color: var(--pea-shoot);
}

.bg--red {
  background-color: var(--red);
}

.bg--yellow {
  background-color: var(--yellow);
}

.bg--yellow h1 {
  color: black;
}

.bg--yellow h2 {
  color: black;
}

.bg--yellow h3 {
  color: black;
}

.bg--yellow p {
  color: black;
}

/* ======= FONTS ====== */ 

h1, h2, h3, h4, h5, h6, p {
  color: var(--white);
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

a h2:hover{
  color: var(--highlight)
}

a p:hover{
  color: var(--highlight)
}

.underline {
  text-decoration: underline;
  text-decoration-color: var(--white);
  text-decoration-thickness: 2px;
}

.underline:hover {
  color: var(--lilac);
  text-decoration-color: var(--lilac);
}

/* ======= FLEXBOX ====== */ 

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.ai--center {
  align-items: center;
}

.ac--center {
  align-content: center;
}

.jc--center {
  justify-content: center;
}

.jc--space--btwn {
  justify-content: space-between;
}

/* ====== GRID ====== */

.grid--container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 100%;
}

/* ====== TRANSFORMATIONS */

.mirror--image {
  transform: rotate(180deg);
}

/* ====== MENUS ====== */

.menu--padding {
  padding-top: 25px; 
}

.menu--logo {
  margin-left: 50px;
  margin-bottom: 15px;
  width: 200px;
}

.menu--rainbow {
  display: flex;
  width: 60vW;
  height: 100%;
}

.menu--rainbow h3 {
  margin: 0;
}

.menu--rainbow div {
  display: flex;
  height: 30px;
  justify-content: center;
  align-items: center;
}

.menu--rainbow div:nth-child(1) {
  width: 25%;
  background-color: var(--lilac);
}

.menu--rainbow div:nth-child(2) {
  width: 25%;
  background-color: var(--red);
}

.menu--rainbow div:nth-child(3) {
  width: 10%;
  background-color: var(--yellow);
  color: var(--black)
}

.menu--rainbow div:nth-child(3) h3 {
  color: var(--black)
}

.menu--rainbow div:nth-child(4) {
  width: 20%;
  background-color: var(--pea-shoot);
}

.menu--rainbow div:nth-child(5) {
  width: 20%;
  background-color: var(--white);
}

/* ======= FOOTER ====== */ 

.footer--container {
  padding: 25px 50px; 
}

.footer--container h3 {
  margin: 10px 0px;
}

.footer--grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 100%;
}

.footer--logo {
  margin-bottom: 30px;
  width: 200px;
}

.social--icon {
  margin-right: 10px;
  height: 30px;  
}

.footer--rainbow--bar  {
  display: flex;
}

.footer--rainbow--bar div {
  height: 30px;
}

.footer--rainbow--bar div:nth-child(1) {
  width: 5%;
  background-color: var(--red);
}

.footer--rainbow--bar div:nth-child(2) {
  width: 25%;
  background-color: var(--lilac);
}

.footer--rainbow--bar div:nth-child(3) {
  width: 40%;
  background-color: var(--pea-shoot);
}

.footer--rainbow--bar div:nth-child(4) {
  width: 5%;
  background-color: var(--white);
}

.footer--rainbow--bar div:nth-child(5) {
  width: 25%;
  background-color: var(--yellow);
}

.healing--footer {
  background-color: var(--yellow);
}

.healing--footer p {
  color: var(--lilac);
}

.healing--footer h3 {
  color: var(--lilac);
}
/* ======= LANDING PAGE ====== */ 

.landing--page {
  background-image: url('../public/Images/Backgrounds/Landing-Page.png');
  height: var(--app-height)
}

.landing--page--logo {
  height: 150px;
  left: 10%;
  position: absolute;
  top: 15%;
}

.landing--page--menu {
  height: 150px;
  right: 10%;
  position: absolute;
  bottom: 15%;
}

.landing--page--menu a {
  color: var(--white);
  text-decoration: none;
}

.landing--page--menu h1 {
  margin: 0px 4px;
  z-index: 10;
}

.rainbow--bar {
  display: flex;
  height: 10px;
  margin-left: 70px;
  margin-top: -12px;
  width: 220px;
  z-index: 9;
}

.rainbow--bar div {
  height: 100%;
}

.rainbow--bar div:nth-child(1) {
  width: 13%;
  background-color: var(--lilac)
}

.rainbow--bar div:nth-child(2) {
  width: 10%;
  background-color: var(--red)
}

.rainbow--bar div:nth-child(3) {
  width: 20%;
  background-color: var(--yellow)
}

.rainbow--bar div:nth-child(4) {
  width: 9%;
  background-color: var(--pea-shoot)
}

.rainbow--bar div:nth-child(5) {
  width: 25%;
  background-color: var(--black)
}

.rainbow--bar div:nth-child(6) {
  width: 23%;
  background-color: var(--white)
}

/* ====== CONTENT PAGES ====== */

.about--header {
  position: absolute;
  width: 33vW;
}

.body--container {
  background-image: url('../public/Images/Backgrounds/Page-Background.png');
  padding: 50px 100px;
}

.body--text {
  padding: 50px 30px;
  min-width: 400px;
  width: 70%;
}

.fifty--fifty--container {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 100%;
  min-height: 50vH;
  padding: 50px 100px;
}

.intro--container--grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 100%;
  min-height: 50vH;
  padding: 50px 100px;
}

.intro--container {
  min-height: 60vH;
  padding: 50px 100px;
}

.intro--text {
  padding: 50px 30px;
  min-width: 400px;
  width: 60%;
}

.fifty--fifty--intro--text {
  padding: 50px 30px 50px 0px;
}

.intro--video {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}

.film--video {
  position: relative;
  padding-bottom: 0px;

}

iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.page--intro {
  font-size: 68px;
  font-family: "Didot";
  overflow-wrap: break-word;
  hyphens: auto;
}

.red--triangle {
  height: 50px;
}

.steps--container {
  margin-top: 30px;
  position: relative;
  width: 50%;
}

.steps--triangle {
  position: absolute;
  z-index: 1;
  transform: rotate(180deg);
}

.step--information {
  position: relative;
  z-index: 10;
  margin-left: 30px;
}

.step--information h1 {
  margin: 20px 0px;
}

.step--information p {
    margin-left: 10px;
}

/* ====== ALIGNMENT ====== */

.align--center {
  text-align: center;
}
/* ====== DANCE ABOUT ====== */

.headshot {
  min-width: 300px;
  width: 100%;
}

.body--text--margin {
  margin-top: 150px;
}
/* ====== STUDIO SERVICES ====== */

.service--details h3 {
  margin: 0px;
}

.bullet {
  border-width: 5px;
  border-style: solid;
  border-radius: 20px;
  height: 15px;
  width: 15px;
}

.services--list h2 {
  margin-top: 0px;
  margin-bottom: 5px;
 
}

.services--list div.service--item {
  margin-top: 40px;
}

.inside {
  margin-left: 10px;
}

.services--list div:nth-child(n) .bullet {
  border-color: var(--yellow);
}

.services--list div:nth-child(2n) .bullet {
  border-color: var(--pea-shoot);
}

.services--list div:nth-child(3n) .bullet {
  border-color: var(--red);
}

.services--list div:nth-child(4n) .bullet {
  border-color: var(--lilac);
}

.services--list div:nth-child(5n) .bullet {
  border-color: var(--white);
}

/* ====== HEALING ABOUT ====== */

.purple--line {
  margin: 40px 0px;
  height: 100%;
  width: 5px;
  background-color: var(--lilac);
}

.ilm--logo--healing--page {
  width: 50%;
}

.headshot--healing--about {
  width: 100%;
  min-width: 200px;
}

.testimonial--container { 
  min-height: 300px;
}

.testimonials { 
  padding: 0px 20px;
}

.testimonial--button {
  width: 25px;
  cursor: pointer;
}

/* ====== BOOKING ====== */

.red--circle {
  background-color: var(--red);
  border-radius: 200px;
  height: 225px;
  width: 225px;
  display: flex;
  justify-content: center;
}

.red--circle a {
  cursor: pointer;
  text-align: center;
  width: 50%;
}

/* ====== REBOOK ====== */

.rebook--width {
  position: relative;
  width: 70%;
}

.pea--shoot--circle {
  position: absolute;
  background-color: var(--pea-shoot);
  border-radius: 100px;
  margin-left: -50px;
  margin-top: -50px;
  height: 100px;
  width: 100px;
  z-index: 1;
}

.healing--contact--info {
  position: relative;
  z-index: 10;
}

/* ====== FAQ ====== */

.faq--list {
  width: 70%
}

.faq--list:nth-child(1) {
  margin-top: 0px;
}

.faq--title {
  margin: auto 0px 0px 10px;
}

.faq--list p {
  margin: 10px auto 0px 50px;
}

.faq--list .bullet {
  border-color: var(--yellow);
}

.faq--item {
  margin-top: 30px;
}

.yellow--triangle {
  width: 50px;
  transform: rotate(90deg);
}

.faq--intro {
  margin-top: 0px;
}


/* ====== TEACHING ====== */

.formats--triangle {
  transform: rotate(180deg);
}

.shape {
  width: 40px;
  height: 40px;
}

.curriculum--list div:nth-child(n) .shape {
  background-color: var(--yellow);
}

.curriculum--list div:nth-child(2n) .shape {
  border-radius: 40px;
  background-color: var(--pea-shoot);
}

.curriculum--list p {
  margin-left: 70px
}


@media only screen and (max-width: 900px) {

  .headshot--healing--about {
    width: 50%;
    min-width: 200px;
  }

  .intro--container {
    padding: 50px 30px;
  }

  .fifty--fifty--container {
    display: flex;
    flex-direction: column;
  }

  .grid--container {
    display: flex;
    flex-direction: column;  
  }

  .intro--text {
    min-width: 300px;
  }

  .headshot {
    max-width: 300px;
    width: 100%;
  }

  .page--intro {
    width: 100%;
  }

  .mobile--column {
    flex-direction: column;
  }


  /* ====== MENU ====== */

  .menu--logo {
    margin-left: 10px;
    margin-bottom: 15px;
    width: 125px;
  }

  .menu--padding {
    padding-top: 10px;
  }

  .menu--rainbow {
    display: flex;
    width: 100vW;
  }

  .menu--rainbow div:nth-child(1) {
    width: 18%;
  }

  .menu--rainbow div:nth-child(2) {
    width: 43%;
  }

  .menu--rainbow div:nth-child(3) {
    width: 13%;
  }

  .menu--rainbow div:nth-child(4) {
    width: 23%;
  }

  .menu--rainbow div:nth-child(5) {
    width: 3%;
  }

  /* ====== HEALING ABOUT ====== */

  .purple--line {
    display: none;
  }

  /* ====== BOOKING ====== */

  .red--circle {
    margin-top: 25px;
  }

  /* ====== NEW CLIENT ====== */

  .steps--container {
    width: 75%;
  }

  /* ====== FAQ ====== */

  .faq--list {
    width: 100%;
  }
}

@media only screen and (max-width: 650px) {


  /* ====== FLEXBOX ====== */

  .mobile--ai--center {
    align-items: center;
  }

  .mobile-flex-row {
    flex-direction: row;
  }

  /* ====== GRID ====== */

  /* ====== FOOTER ====== */

  .footer--container {
    padding: 20px 20px;
  }

  .footer--grid {
    display: flex;
    flex-direction: column-reverse;
  }

  .footer--logo {
    width: 125px;
    margin: 20px 0px 10px 0px;
  }

  /* ====== PAGE CONTENT ====== */

  .grid--container {
    display: flex;
    flex-direction: column;  
  }

  .about--header {
    position: relative;
    width: 50%;
  }
  
  .body--text {
    min-width: 0px;
    width: auto;
    padding: 20px 0px;
  }

  .body--text--margin {
    margin-top: 0px;
  }

  .body--container {
    background-image: url('../public/Images/Backgrounds/Page-Background.png');
    padding: 20px 20px;
    width: auto;
  }

  .fifty--fifty--container {
    padding: 20px 20px;
    min-height: 73vH;
  }

  .intro--container {
    display: flex;
    flex-direction: column;
    padding: 50px 20px;
    min-height: 70vH;
  }

  .intro--text {
    min-width: 0px;
    padding: 20px 0px;
    width: auto;
  }

  .page--intro {
    font-size: 40px;
    width: auto;
  }

  /* ====== DANCE ABOUT ====== */

  .headshot {
    width: auto;
  }

  /* ====== HEALING ABOUT ====== */

  .rebook--width  {
    width: auto;
  }

}